# Environment files
*.env

# Ignore any file or directory that starts with WIP in any level
**/WIP*

# Data: ignore todo dentro de /data/, excepto el placeholder
/data/*
!/data/.gitkeep

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
